<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UdemyTests">
    <test name="Registration tests">
        <classes>
            <class name="com.udemy.RegistrationTest">
                <methods>
                    <include name="RegistrationWithValidData" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Login with valid data">
        <classes>
            <class name="com.udemy.LoginTest">
                <methods>
                    <include name = "LoginUsingCookie" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Check list categories">
        <classes>
            <class name="com.udemy.CategoriesTest">
                <methods>
                    <include name = "CheckListCategories" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Search test with Valid data">
        <classes>
            <class name="com.udemy.SearchTest">
                <methods>
                    <include name = "SearchTestWithValidData" />
                </methods>
            </class>
        </classes>
    </test>
</suite>